<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153711151902-7f6dt74e1ff6dhe3ud46cq214truu0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153711151902-7f6dt74e1ff6dhe3ud46cq214truu0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyA3AqOh5xNYL2nxmO8HaJWMg1hhCu4OwoY</string>
	<key>GCM_SENDER_ID</key>
	<string>153711151902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>career-path-e3436</string>
	<key>STORAGE_BUCKET</key>
	<string>career-path-e3436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153711151902:ios:8693c013ea1c33826f170f</string>
</dict>
</plist>